body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(74, 169, 137);
}

h1{
  background-color: rgb(69, 68, 67);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 38px;
  margin: 0;
  width: 100%;
}

.btn{
  background-color: bisque;
  border-radius: 20px;
  box-shadow: 3px 4px rgba(0, 0, 0, .6);
  font-size: 54px;
  font-weight: 600;
  color: rgb(118, 11, 11);
  cursor: pointer;
}

.btn:hover{
  opacity: .7;
}

.game-container{
  width: 50vmin;
  height: 50vmin;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  position: relative;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.reset{
  background-color: black;
  color: aliceblue;
  padding: 8px 18px;
  font-size: 25px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.para{
  font-size: 25px;
  font-weight: 550;
  word-spacing: 8px;
  margin-left: 7px;
}

.info{
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  bottom: 50px;
}

.img{
  height: 18vmin;
  width: 0;
  position: absolute;
  bottom: 20px;
  margin-left: -70px;
  border-radius: 35%;
  transition: .8s ease-in-out;
}

@media (max-width : 430px) {
  .img{
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .btn{
    font-size: 25px;
  }
}